@media (prefers-color-scheme: light) {
  $color1: #ff6973;
  $color2: #ffb0a3;
  $color3: #ffeecc;
  $color4: #ffffff;

  .input-colors {
    background-color: $color2;

    &__content-section {
      background-color: $color1;
      border: 2px solid $color4;
    }

    &__form-holder {
      background-color: $color2;
      border: 2px solid $color4;
    }

    &__input {
      border: 2px solid $color1;
    }

    &__color-line-item {
      &--example {
        background-color: transparent;
        border: 2px solid $color4;
        margin-left: 0.5rem;
      }

      &--lock {
        background-image: url(./src/windows/input-colors/assets/img/icons/lock.svg);
      }
  
      &--unlock {
        background-image: url(./src/windows/input-colors/assets/img/icons/unlock.svg);
      }
  
      &--hashtag {
        background-image: url(./src/windows/input-colors/assets/img/icons/hashtag.svg);
      }
  
      &--accept {
        background-image: url(./src/windows/input-colors/assets/img/icons/accept.svg);
      }
  
      &--reject {
        background-image: url(./src/windows/input-colors/assets/img/icons/reject.svg);
      }
    }
  }

  .session-buttons {
    &__popup {
      border-right: 2px solid $color4;
      background-color: $color1;
    }

    &__popup-content {
      border: 2px solid $color4;
      background-color: $color2;
    }

    &__combination-deleter {
      background-color: $color1;
    }
  
    &__single-color {
      background-color: transparent;
      border: 2px solid $color4;
    }

    &__issue-note-name {
      color: $color4;
    }
  
    &__issue-note-description {
      color: $color4;
    }

    &__issue-note-deleter {
      background-color: $color1;
    }
  }

  .issue-popup {
    &__popup {
      border-top: 2px solid $color4;
      background-color: $color1;
    }

    &__inner {
      border: 2px solid $color4;
      background-color: $color2;
    }
  }

  .issue-report {  
    &__input {
      border: 2px solid $color1;
    }
  
    &__textarea {
      border: 2px solid $color1;
    }

    &__issue-icon {
      background-color: $color1;
    }
  }
}