@keyframes rave {
  0% {
    height: 50%;
  }
  9% {
    height: 50%;
  }
  18% {
    height: 60%;
  }
  27% {
    height: 70%;
  }
  36% {
    height: 80%;
  }
  45% {
    height: 90%;
  }
  54% {
    height: 100%;
  }
  63% {
    height: 90%;
  }
  72% {
    height: 80%;
  }
  81% {
    height: 70%;
  }
  90% {
    height: 60%;
  }
  100% {
    height: 50%;
  }
}