$input-color-line-height: 32px;

$input-color-z-layer: 1;

$input-form-submit-button-img: './src/windows/input-colors/assets/img/titles/color-input-save-it-210-50.webp';


.input-colors {
  &__input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__color-line-wrapper {
    height: $input-color-line-height;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: $input-color-z-layer;
    margin-bottom: 20px;
  }

  &__color-line-item {
    width: $input-color-line-height;
    height: $input-color-line-height;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  &__input {
    width: 110px;
    height: $input-color-line-height;
    font-size: 2.4rem;
    letter-spacing: 0.5px;
    margin-left: 5px;
  }

  &__acception-status {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
  }

  &__submit-form-button {
    width: 100%;
    max-width: 120px;
    height: 32px;
    background-image: url($input-form-submit-button-img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}