@media (prefers-color-scheme: light) {
  $color1: #ff6973;
  $color2: #ffb0a3;
  $color3: #ffeecc;
  $color4: #ffffff;

  $transparent: rgba(0, 0, 0, 0);

  .input-colors {
    background: linear-gradient(45deg,
                                $transparent 49.9%, 
                                rgba($color3, 0.4) 49.9%, rgba($color3, 0.4) 60%, 
                                $transparent 60%
                                ),
    linear-gradient(45deg,
                    rgba($color3, 0.4) 10%,
                    $transparent 10%
                    );
    background-size: 2em 2em;
    background-color: $color2;

    &__content-section {
      background-color: $color1;
      border: 2px solid $color4;
    }

    &__form-holder {
      background-color: $color2;
      border: 2px solid $color4;
    }

    &__input {
      border: 2px solid $color1;
      color: $color1;
    }

    &__color-line-item {
      &--example {
        background-color: transparent;
        border: 2px solid $color1;
        margin-left: 0.5rem;
      }

      &--lock {
        background-image: url(./src/windows/input-colors/assets/img/icons/light-theme/lock-32-32.svg);
      }
  
      &--unlock {
        background-image: url(./src/windows/input-colors/assets/img/icons/light-theme/un-lock-32-32.svg);
      }
  
      &--hashtag {
        background-image: url(./src/windows/input-colors/assets/img/icons/light-theme/hashtag-32-32.svg);
      }
  
      &--accept {
        background-image: url(./src/windows/input-colors/assets/img/icons/accept-circle-32-32.svg);
      }
  
      &--reject {
        background-image: url(./src/windows/input-colors/assets/img/icons/reject-circle-32-32.svg);
      }
    }
  }

  .session-data-controller {
    &__counter {
      background-color: $color3;
      border: 2px solid $color1;
      color: $color1;
    }
  }

  .session-data {
    &__popup {
      border-right: 2px solid $color4;
      background-color: $color1;
    }

    &__popup-content {
      border: 2px solid $color4;
      background-color: $color2;
      color: $color1;
    }
  }

  .session-data-components {
    &__combination-deleter {
      background-image: url(./src/windows/input-colors/assets/img/icons/light-theme/reject-25-25.svg);
    }
  
    &__single-color {
      background-color: transparent;
      border: 2px solid $color4;
    }

    &__issue-note-name {
      color: $color4;
    }
  
    &__issue-note-description {
      color: $color4;
    }

    &__issue-note-deleter {
      background-image: url(./src/windows/input-colors/assets/img/icons/light-theme/reject-25-25.svg);
    }
  }

  .issue-report-opener {
    &__icon {
      background-image: url(./src/windows/input-colors/assets/img/icons/light-theme/question-mark-32-32.svg);
    }
  }

  .issue-report {
    &__popup {
      border-top: 2px solid $color4;
      background-color: $color1;
    }

    &__popup-inner {
      border: 2px solid $color4;
      background-color: $color2;
    }
  }

  .issue-report-form {  
    &__input {
      border: 2px solid $color1;
      color: $color1;
    }
  
    &__textarea {
      border: 2px solid $color1;
      color: $color1;
    }
  }
}