$switcher-icon-width: 32px;
$switcher-icon-height: 32px;
$half-opacity: 0.5;

$switch-to-light-icon: './src/windows/input-colors/assets/img/icons/flower-32-32.svg';
$switch-to-dark-icon: './src/windows/input-colors/assets/img/icons/crescent-32-32.svg';


.main-theme-switcher {
  position: absolute;
  top: 20px;
  right: 20px;

  &__icon {
    display: block;
    width: $switcher-icon-width;
    height: $switcher-icon-height;  
    background-image: url($switch-to-dark-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: $half-opacity;
    cursor: pointer;
    
    &--to-light {
      background-image: url($switch-to-light-icon);
      transform: rotate(90deg);
    }
  }

  &__icon:hover {
    opacity: 1;
  }
}