$color-combination-item-width: 25px;
$color-combination-item-height: 25px;
$issue-note-item-height: 25px;
$max-button-width: 150px;
$button-height: 32px;

$popup-window-z-layer: 100;
$popup-z-layer: $popup-window-z-layer + 1;
$session-controller-z-layer: 1000;

$half-opacity: 0.5;

$combinations-data-opener-img: './src/windows/input-colors/assets/img/titles/color-input-combos-220-50.webp';
$issues-data-opener-img: './src/windows/input-colors/assets/img/titles/color-input-issues-200-50.webp';
$session-data-saver-img: './src/windows/input-colors/assets/img/titles/color-input-save-it-all-310-50.webp';
$session-data-vertical-offset: 100px;


// controler (absolute positioning)
.session-data-controller {
  min-width: calc($max-button-width + 2rem);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $session-controller-z-layer;
  padding: 20px;

  &__opener-holder {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

  &__opener-holder:not(:last-child) {
    margin-bottom: 10px;
  }

  &__opener {
    width: 100%;
    height: $button-height;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: $half-opacity;
    cursor: pointer;

    &--combinations {
      max-width: 127px;
      background-image: url($combinations-data-opener-img);
    }

    &--issues {
      max-width: 112px;
      background-image: url($issues-data-opener-img);
    }
  }

  &__opener:hover {
    opacity: 1;
  }

  &__counter {
    width: 2rem;
    max-width: 3rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: calc($session-controller-z-layer + 1);
  }
}

// session data window
.session-data {
  &__window {
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $popup-window-z-layer;
  }

  &__popup {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: $popup-z-layer;
    padding: 0px 20px;
  }

	&__popup-title {
    width: 100%;
    min-height: $session-data-vertical-offset;
    background-color: transparent;
	}

	&__popup-content {
    width: 100%;
    height: auto;
    max-height: calc(100vh - $session-data-vertical-offset * 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
    padding: 20px;
	}

	&__button {
    width: 100%;
    max-width: 180px;
    height: $button-height;
    background-image: url($session-data-saver-img);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-bottom: 20px;
	}
}

// session items OF COLORS
.session-data-components {
	&__color-combination {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
	}

  &__color-combination:not(:first-child) {
    margin-top: 10px;
  }

  &__combination-deleter {
    width: $color-combination-item-width;
    height: $color-combination-item-height;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
  }

	&__single-color {
    width: $color-combination-item-width;
    height: $color-combination-item-height;
	}

  &__single-color:not(:first-child) {
    margin-left: 5px;
	}
}

// session items OF ISSUES
.session-data-components {
  &__issue-note {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__issue-note:not(:first-child) {
    margin-top: 10px;
  }

  &__issue-note-name {
    font-size: 2rem;
    line-height: 1em;
    margin-bottom: 10px;
  }

  &__issue-note-description {
    font-size: 1rem;
    line-height: 1em;
  }

  &__issue-note-deleter {
    width: $issue-note-item-height;
    height: $issue-note-item-height;
    align-self: flex-end;
  }
}

.session-data-components {
  &__empty-holder {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: 2px;
  }
}