
$line-height: 3.2rem;
$form-max-width: 34rem;

$max-button-width: 150px;
$max-button-height: 32px;

$input-color-z-layer: 1;
$popup-window-z-layer: 100;
$popup-z-layer: $popup-window-z-layer + 1;
$session-controller-z-layer: 1000;

$half-opacity: 0.5;


.session-buttons {
  width: calc($max-button-width + 2rem);
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $session-controller-z-layer;

  padding: 2rem;

  &__button-holder {
    width: 100%;
    height: auto;

    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__button-holder:last-child {
    margin-top: 1rem;
  }

  &__button {
    cursor: pointer;
    line-height: 1em;
    
    width: 100%;
    height: $max-button-height;

    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;

    opacity: $half-opacity;

    &--combinations {
      background-image: url(./src/windows/input-colors/assets/img/titles/color-input-combos-220-50.webp);
      max-width: 127px;
    }

    &--issues {
      background-image: url(./src/windows/input-colors/assets/img/titles/color-input-issues-200-50.webp);
      max-width: 112px;
    }
  }

  &__button:hover {
    opacity: 1;
  }

  &__counter {
    width: 2rem;
    max-width: 3rem;
    height: 2rem;
    border-radius: 10%;

    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: calc($session-controller-z-layer + 1);
  }
}

.session-buttons {
  &__window {
    width: 100%;
    height: 100vh;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: $popup-window-z-layer;
  }

  &__popup {
    width: 50%;
    height: 100vh;

    position: relative;
    z-index: $popup-z-layer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding-left: 2rem;
    padding-right: 2rem;
  }

	&__popup-title {
    width: 100%;
    min-height: 100px;
	}

	&__popup-content {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: calc(100vh - 200px);
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    letter-spacing: 0.2rem;

    padding: 2rem;
	}

	&__popup-button {
    width: 100%;
    max-width: 180px;
    height: $max-button-height;

    margin-bottom: 2rem;
    cursor: pointer;

    background-image: url(./src/windows/input-colors/assets/img/titles/color-input-save-it-all-310-50.webp);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
	}
}

.session-buttons {
	&__color-combination {
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: transparent;
	}

  &__color-combination:not(:first-child) {
    margin-top: 1rem;
  }

  &__combination-deleter {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background-color: transparent;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

	&__single-color {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
	}
}

.session-buttons {
  &__issue-note {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__issue-note:not(:first-child) {
    margin-top: 1rem;
  }

  &__issue-note-name {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  &__issue-note-description {
    font-size: 1rem;
    line-height: 1rem;
  }

  &__issue-note-deleter {
    width: 2.5rem;
    height: 2.5rem;
    align-self: flex-end;
  }
}