$line-height: 3.2rem;
$form-max-width: 30rem;

$input-color-layer: 1;
$input-color-disabler-layer: 2;
$popup-window-layer: 100;
$popup-layer: 101;
$session-controller-layer: 1000;

.input-colors {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  background-color: red;

  &__section-main {
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: green;
  }

  &__content-section {
    width: 70%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;

    background-color: yellow;
  }

  &__title-wrapper {
    width: 100%;
    height: auto;
    text-align: center;
  }

  &__title {
    color: white;
    font-size: 5rem;
    line-height: 1em;
  }

  &__form-holder {
    width: 100%;
    max-width: $form-max-width;
    height: 50vh;

    background-color: aqua;
  }

  &__input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__submit-form-button {

  }
}

.input-colors {
  &__color-line-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $line-height;
    position: relative;
    z-index: $input-color-layer;

    margin-bottom: 20px;

    background-color: aquamarine;
  }

  &__color-line-disabler {
    width: 100%;
    height: 100%;
    
    background-color: rgba(black, 0.2);

    position: absolute;
    z-index: $input-color-disabler-layer;
  }

  &__color-line-item {
    width: $line-height;
    height: $line-height;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 0.4s;

    &--lock {
      background-image: url(./src/windows/input-colors/assets/img/icons/lock.svg);
    }

    &--unlock {
      background-image: url(./src/windows/input-colors/assets/img/icons/unlock.svg);
    }

    &--hashtag {
      background-image: url(./src/windows/input-colors/assets/img/icons/hashtag.svg);
    }

    &--example {
      background-color: transparent;
      border: 1px solid black;
    }

    &--accept {
      background-image: url(./src/windows/input-colors/assets/img/icons/accept.svg);
    }

    &--reject {
      background-image: url(./src/windows/input-colors/assets/img/icons/reject.svg);
    }
  }

  &__input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 1rem;
  }

  &__input {
    width: 11rem;
    letter-spacing: 0.5px;
    font-size: 2.4rem;
    
  }

  &__acception-status {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 1rem;
  }
}

.unactive {
  opacity: 0.4;
  pointer-events: none;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.input-colors {
  &__issue {
    height: $line-height;
    width: 100%;
    max-width: calc($form-max-width / 4);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__issue-icon {
    width: $line-height;
    height: $line-height;
    background-color: hotpink;
  }

  &__issue-title {
    color: white;
  }
}

.issue-popup {

  &__window {
    width: 100%;
    height: 100vh;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: $popup-window-layer;
  }
  
  &__popup {
    width: 100%;
    height: auto;
    min-height: 30vh;

    background-color: white;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    z-index: $popup-layer;
  }
  
  &__inner {

  }
}

.session-buttons {
  width: 25vw;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $session-controller-layer;

  margin-top: 20px;

  &__button-holder {
    width: 100%;
    height: auto;

    margin-top: 1rem;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__counter {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    background-color: red;
    font-size: 2rem;
    color: white;

    line-height: 100%;
    text-align: center;

    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: calc($session-controller-layer + 1);
  }
}

.session-buttons {
  &__window {
    width: 100%;
    height: 100vh;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: $popup-window-layer;
  }

  &__popup {
    width: 25vw;
    height: 100vh;

    position: relative;
    z-index: $popup-layer;

    background-color: white;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

	&__popup-title {
    width: 100%;
    min-height: 100px;
    background-color: aquamarine;
    color: black;
	}

	&__popup-content{
    width: 100%;
    height: auto;
    max-height: calc(100vh - 150px);
    overflow: scroll;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background-color: violet;
	}

	&__popup-button{
    width: 60%;
    height: auto;
    margin-bottom: 20px;
	}
}

.session-buttons {
	&__color-combination {
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 10px;

    background-color: indianred;
	}

  &__combination-deleter {
    width: 10px;
    height: 10px;

    margin-right: 20px;

    background-color: yellow;
  }

	&__single-color {
    width: 10px;
    height: 10px;

    margin-left: 5px;

    background-color: black;
	}
}

.session-buttons {

  &__issue-note {
    width: 100%;
    height: auto;

    margin-bottom: 20px;

    background-color: indigo;
  }

  &__issue-note-name {
    font-size: 2rem;
    line-height: 2rem;

    color: white;

    margin-bottom: 10px;
  }

  &__issue-note-description {
    font-size: 1rem;
    line-height: 1rem;

    color: white;
  }

  &__issue-note-deleter {
    width: 10px;
    height: 10px;

    margin-right: 20px;

    background-color: yellow;
  }
}