$line-height: 3.2rem;
$form-max-width: 34rem;

$max-button-width: 150px;
$max-button-height: 32px;

$input-color-layer: 1;
$input-color-disabler-layer: 2;
$popup-window-layer: 100;
$popup-layer: 101;
$session-controller-layer: 1000;

$half-opacity: 0.5;

.input-colors {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  &__section-main {
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: transparent;
  }

  &__content-section {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;

    padding: 4rem 3rem;
  }

  &__title-wrapper {
    width: 100%;
    height: auto;

    margin-bottom: 4rem;
  }

  &__form-holder {
    width: 100%;
    max-width: $form-max-width;
    height: 50vh;

    padding: 2rem;
  }

  &__input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__submit-form-button {
    width: 100%;
    max-width: 120px;
    height: $max-button-height;
    line-height: 1em;

    background-image: url(./src/windows/input-colors/assets/img/titles/color-input-save-it-210-50.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;
  }
}

.input-colors {
  &__color-line-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $line-height;
    position: relative;
    z-index: $input-color-layer;

    margin-bottom: 20px;

    background-color: transparent;
  }

  &__color-line-disabler {
    width: 100%;
    height: 100%;
    
    background-color: rgba(black, 0.2);

    position: absolute;
    z-index: $input-color-disabler-layer;
  }

  &__color-line-item {
    width: $line-height;
    height: $line-height;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 0.4s;
  }

  &__input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 1rem;
  }

  &__input {
    width: 11rem;
    letter-spacing: 0.5px;
    font-size: 2.4rem;

    margin-left: 0.5rem;
  }

  &__acception-status {
    width: 7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 1rem;
  }
}

.unactive {
  opacity: 0.4;
  pointer-events: none;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.issue-report {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  z-index: $input-color-disabler-layer;
  transform: translateX(-50%);
  cursor: pointer;

  &__issue-icon {
    width: $line-height;
    height: $line-height;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    opacity: $half-opacity;
  }

  &__issue-icon:hover {
    opacity: 1;
  }
}

.issue-popup {

  &__window {
    width: 100%;
    height: 100vh;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: $popup-window-layer;
  }
  
  &__popup {
    width: 100%;
    height: auto;
    min-height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    z-index: $popup-layer;

    overflow: hidden;
  }
  
  &__inner {
    width: 70%;
    padding: 2rem;
  }

  &__form-holder {
    width: 100%;
    height: calc($line-height * 2 + 1rem);
  }
}

.issue-report {

  &__form {
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  &__input {
    width: 100%;
    height: $line-height;
    
    padding: 0.5rem;
  }

  &__textarea {
    width: 100%;
    grid-column: 2;
    grid-row: 1 / span 2;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    
    padding: 0.5rem;
  }

  &__button {
    width: 100%;
    max-width: 120px;;
    height: $max-button-height;
    line-height: 1em;
    
    cursor: pointer;

    background-image: url(./src/windows/input-colors/assets/img/titles/color-input-save-it-210-50.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.session-buttons {
  width: calc($max-button-width + 2rem);
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $session-controller-layer;

  padding: 2rem;

  &__button-holder {
    width: 100%;
    height: auto;

    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__button-holder:last-child {
    margin-top: 1rem;
  }

  &__button {
    cursor: pointer;
    line-height: 1em;
    
    width: 100%;
    height: $max-button-height;

    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;

    opacity: $half-opacity;

    &--combinations {
      background-image: url(./src/windows/input-colors/assets/img/titles/color-input-combos-220-50.webp);
      max-width: 127px;
    }

    &--issues {
      background-image: url(./src/windows/input-colors/assets/img/titles/color-input-issues-200-50.webp);
      max-width: 112px;
    }
  }

  &__button:hover {
    opacity: 1;
  }

  &__counter {
    width: 2rem;
    max-width: 3rem;
    height: 2rem;
    border-radius: 10%;

    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: calc($session-controller-layer + 1);
  }
}

.session-buttons {
  &__window {
    width: 100%;
    height: 100vh;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: $popup-window-layer;
  }

  &__popup {
    width: 50%;
    height: 100vh;

    position: relative;
    z-index: $popup-layer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding-left: 2rem;
    padding-right: 2rem;
  }

	&__popup-title {
    width: 100%;
    min-height: 100px;
	}

	&__popup-content {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: calc(100vh - 200px);
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    letter-spacing: 0.2rem;

    padding: 2rem;
	}

	&__popup-button {
    width: 100%;
    max-width: 180px;
    height: $max-button-height;

    margin-bottom: 2rem;
    cursor: pointer;

    background-image: url(./src/windows/input-colors/assets/img/titles/color-input-save-it-all-310-50.webp);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
	}
}

.session-buttons {
	&__color-combination {
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: transparent;
	}

  &__color-combination:not(:first-child) {
    margin-top: 1rem;
  }

  &__combination-deleter {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background-color: transparent;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

	&__single-color {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
	}
}

.session-buttons {
  &__issue-note {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__issue-note:not(:first-child) {
    margin-top: 1rem;
  }

  &__issue-note-name {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  &__issue-note-description {
    font-size: 1rem;
    line-height: 1rem;
  }

  &__issue-note-deleter {
    width: 2.5rem;
    height: 2.5rem;
    align-self: flex-end;
  }
}

.main-theme-switcher {
  position: absolute;
  top: 2rem;
  right: 2rem;
  $input-color-disabler-layer: 2;

  &__button {
    display: block;
    width: $line-height;
    height: $line-height;
    cursor: pointer;
  
    background-color: transparent;
    background-image: url(./src/windows/input-colors/assets/img/icons/crescent-32-32.svg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    opacity: $half-opacity;
    
    &--to-light {
      background-image: url(./src/windows/input-colors/assets/img/icons/sun-32-32.svg);
    }
  }

  &__button:hover {
    opacity: 1;
  }
}