@keyframes shrink {
  0% {
    height: calc(100% / 21 * 1);
  }
  20% {
    height: calc(100% / 21 * 2);
  }
  40% {
    height: calc(100% / 21 * 3);
  }
  60% {
    height: calc(100% / 21 * 4);
  }
  80% {
    height: calc(100% / 21 * 5);
  }
  100% {
    height: calc(100% / 21 * 6);
  }
  80% {
    height: calc(100% / 21 * 5);
  }
  60% {
    height: calc(100% / 21 * 4);
  }
  40% {
    height: calc(100% / 21 * 3);
  }
  20% {
    height: calc(100% / 21 * 2);
  }
  0% {
    height: calc(100% / 21 * 1);
  }
}